@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: 'Montserrat', sans-serif;
//colors
$theme-colors: (
  "primary": #03A9F4,
  "danger": #FF5630,
  "gray": #616161,
  "dark": #414141,
  "feedback":#018A5C,
  "gray-light": #E0E0E0

);
$body-color:  #414141;

//variables
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 6,
  9: $spacer * 9,
  10: $spacer * 12
);
$font-weight-normal: 500;
$font-weight-bold: 600;
$navbar-light-color:#414141;
$accordion-padding-x:  3rem;
$accordion-button-active-color: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$enable-negative-margins: true;
$component-active-color: #FFF;
$component-active-bg:#03A9F4;
$nav-link-font-weight: 500;
$nav-link-color: #292929; 
$link-color: #414141;
$link-hover-color: #616161;
$link-hover-decoration: none;
// a {
//   color: $link-color;
//   text-decoration: $link-decoration;

//   &:hover {
//     color: $link-hover-color;
//     text-decoration: $link-hover-decoration;
//   }
// }


table img{
  height: 30px;
}
table img.disabled{
  opacity: 0.5;
}
.accordion-button{
  font-weight: 700 !important;
}
#header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #FFF;
}
#header.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.searchbar .form-control, aside .form-control{
    border: 0 !important;
}
.searchbar .form-control:focus, aside .form-control:focus{
    box-shadow: none !important;
}
li::marker{
  color: #03A9F4;
}
.bannercarousel .carousel-indicators [data-bs-target]{
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
}
.bannercarousel .carousel-indicators [data-bs-target].active{
  width: 32px !important;
  border-radius: 45%;
}
.nav-pills .nav-link:not(.active){
  background: #E0E0E0 !important;
}
aside .accordion{
  margin-bottom: 16px;
}
.accordion-item {
  background-color: transparent !important;
}
footer button, footer a.nav-link{
  color: #FFF !important;
  background-color: transparent !important;
  
}
.accordion-item{
  border: 0px !important;
}
.accordion-body .nav-link{
  padding: 0.1rem;
  @media (max-width:767px){
    padding: 0.5rem 0.1rem;
  }
}
footer .accordion-body{
  padding: 1rem 0rem;
} 
footer .accordion-button{
  padding: 1rem 0rem;
  @media (max-width:991px){
    justify-content: center;
  }
}
footer .collapse:not(.show) {
  @media (min-width:1200px){
    display: block;
  }
}
footer .accordion-button{
  @media (min-width:1200px){
    cursor: default !important;
  }
}
aside .accordion-body .nav-link, footer .accordion-body .nav-link{
  padding: 0.5rem;
}
.accordion-button::after{
  display: none;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}
.accordion-button::before{
  flex-shrink: 0;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  content: "";
  background-size: 0.625rem;
  background-position: center;
  background-image: url("../images/plus.svg");
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23414141'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::before {
  background-image: url("../images/minus.svg");
  transform: rotate(180deg);
}
aside .accordion-button::before,
aside .accordion-button:not(.collapsed)::before{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23414141'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
footer .accordion-button::before,
footer .accordion-button:not(.collapsed)::before{
  display: none;
}
@import "../bootstrap/scss/bootstrap";
  /* Sidebar Nav */
  aside{
      overflow-x: hidden;
  }
  aside * input{
      background-color: transparent !important;
  }
.bannercarousel .carousel-body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: #FFF;
}
.bannercarousel .carousel-item{
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import "breadcrumb";
@import "sidebar";
@import "searchbar";
@import "resultscarousel";

.date div{
  color: #949494;
}
.time{
  font-size: 14px;
  color: #949494;
}
.links a img{
  width: 32px;
}

@import "calendercarousel.scss";