@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: 'Montserrat', sans-serif;
//colors
$theme-colors: (
  "primary": #03A9F4,
  "danger": #FF5630,
  "gray": #616161,
  "dark": #414141,
  "feedback":#018A5C,
  "gray-light": #E0E0E0,
  "dark-light": #FF3939

);
$body-color:  #414141;

//variables
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 9,
  10: $spacer * 12
);
$font-weight-normal: 500;
$font-weight-bold: 600;
$navbar-light-color:#414141;
$accordion-padding-x:  3rem;
$accordion-button-active-color: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$enable-negative-margins: true;
$component-active-color: #FFF;
$component-active-bg:#03A9F4;
$nav-link-font-weight: 500;
$nav-link-color: #292929; 
$link-color: #414141;
$link-hover-color: #616161;
$link-hover-decoration: none;
$table-hover-bg: #E0E0E0;
$container-padding-x: 2rem;
// a {
//   color: $link-color;
//   text-decoration: $link-decoration;

//   &:hover {
//     color: $link-hover-color;
//     text-decoration: $link-hover-decoration;
//   }
// }

.top-header{
  background: #F5F5F5;
}
.finance h6{
  font-size: 20px;
  font-weight: 700;
}
.cards button.nav-link{
  font-size: 20px;
  font-weight: 700;
}
.calender{
  .date{
    &::after{
      @media(min-width: 992px){
        display: none;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        right: 0;
        content: "";
        width: 0.5rem;
        height: 1px;
        background-color: #414141;
      }
    }
  }
}
.alert-item{
  padding-top: 1.5rem;
  padding-bottom: 0.25rem;
  border-bottom:  1px solid #dee2e6 !important;
}
.entry{
  padding-bottom: 0.25rem;
  padding-top: 2rem;
  border-bottom: 1px solid #dee2e6 !important;
  gap: 1.5rem;
  @media(max-width: 991px){
    gap: 0.5rem;
  }
  .date{}
  .content{
    .title{
    }
  }
  .links{
    gap: 1rem !important;
    a{
      img{

      }
    }
  }
}
.results{
  .date{
    position: relative;
    padding-right: 2rem;
    &::after{
      @media(min-width: 992px){
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        right: 0;
        content: "";
        width: 0.5rem;
        height: 1px;
        background-color: #414141;
      }
    }
  }
  .content{
    .links{
      a:hover img{
        filter: invert(53%) sepia(89%) saturate(2808%) hue-rotate(166deg) brightness(100%) contrast(98%);
      }
    }
  }
}
table{
  min-width: 700px;
  img{
    height: 30px;
  } 
  table img.disabled{
  opacity: 0.5;
  }
  a:hover img{
    filter: invert(53%) sepia(89%) saturate(2808%) hue-rotate(166deg) brightness(100%) contrast(98%);
  }
}
.accordion-button{
  font-weight: 700 !important;
  padding: 1rem 1rem !important;
  @media(max-width: 991px){
    padding: 1rem 0rem !important;
  }
}

.cards, .cards .accordion-body{
  background-color: #F5F5F5;
}
.cards .accordion-button{
  padding: .5rem 0rem !important;
}
.cards .accordion-body{
  padding: 0 !important;
}
#header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #FFF;
}
#header.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.searchbar .form-control, aside .form-control{
    border: 0 !important;
}
.searchbar .form-control:focus, aside .form-control:focus{
    box-shadow: none !important;
}
li::marker{
  color: #03A9F4;
}
.resultscarousel{
  .carousel-buttons .nav-link:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  a:hover img{
    filter: invert(53%) sepia(89%) saturate(2808%) hue-rotate(166deg) brightness(100%) contrast(98%);
  }
  h1, h2{
    @media(max-width: 767px){
      //font-size: 20px !important;
    }
  }
    
}
label{
  margin-bottom: 5px;
}

.btn-submit {
  padding: 1rem 1rem !important;
  margin-right: 5px;
  margin-left: 5px;
  color: #004E8C !important;
}
.form-control, .form-select{
  padding: 0.5rem 0.75rem !important;
  border: 1px solid #414141 !important;
}
.form-check-input{
  border: 2px solid #414141 !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: 0rem !important;
}
.form-check-input:checked {
  background-color: #03A9F4;
  border-color: #03A9F4 !important;
}
.form-check-input:checked[type="radio"] {
  background-image: none !important;
}
.form-check-input[type="checkbox"] {
  border-radius: 0rem !important;
}
.bannercarousel .carousel-indicators [data-bs-target]{
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
  border: 2px solid #FFF;
  transition-duration: 0.3s;
}
.bannercarousel .carousel-indicators [data-bs-target].active{
  width: 32px !important;
  border-radius: 42%;
  background-color: #FFF;
}
.bannercarousel .carousel-indicators [data-bs-target]:not(.active){
  background-color: transparent;
  opacity: 1;
}

.nav-pills .nav-link:not(.active){
  background: #E0E0E0 !important;
  color: #949494 !important;
}
aside .accordion{
  margin-bottom: 16px;
}
.accordion-item {
  background-color: transparent !important;
}
footer button, footer a.nav-link{
  color: #FFF !important;
  background-color: transparent !important;
  transition-duration: 0.3s;
  &:hover{
    opacity: 0.7;
  }
  
}
aside .accordion-body {
    padding: 0rem 3rem !important;
    @media (max-width: 767px){
      padding: 0rem 1rem;
    }
}
.tabs-letter .accordion-button{
  padding: 1rem 0rem;
}
aside .accordion-item, footer .accordion-item, .cards .accordion-item{
  border: 0px !important;
}
.accordion-body .nav-link{
  padding: 0.1rem;
  @media (max-width:767px){
    padding: 0.5rem 0.1rem;
  }
}
footer .accordion-body{
  padding: 1rem 0rem;
} 
aside .accordion-button{
  padding: 1rem 0rem;
}
footer .accordion-button{
  padding: 1rem 0rem;
  @media (max-width:991px){
    justify-content: center;
  }
  @media (max-width:767px){
    justify-content: flex-start;
  }
}
footer .collapse:not(.show) {
  @media (min-width:1200px){
    display: block;
  }
}
footer .accordion-button{
  padding: 1rem 0rem !important;
  @media (min-width:1200px){
    cursor: default !important;
  }
}
footer .accordion-body .nav-link{
  padding: 0.5rem;
  @media(min-width: 992px){
    padding: 0.5rem 0rem !important;
  }
}
aside .accordion-body .nav-link{
  padding: 0.5rem;
  @media(min-width: 992px){
    padding: 0.5rem 0rem !important;
  }
}
aside .accordion-body{
  padding: 0rem !important;
  margin-bottom: 1rem;
}
.accordion-button::after{
  display: none;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}
.cards .accordion-button{
  padding: 5px 0rem;
  font-size: 20px;
  font-weight: 700;
  &::before{
    background-image: none;
    background-color: #03A9F4;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  &:not(.collapsed)::before{
    background-image: none;
    width: 6px;
    height: 6px;
    background-size: 6px;
    transition-duration: 0ms;
  }
}
.accordion-button::before{
  flex-shrink: 0;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  content: "";
  background-size: 0.625rem;
  background-position: center;
  background-image: url("../images/plus.svg");
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23414141'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::before {
  background-image: url("../images/minus.svg");
  transform: rotate(180deg);
}
aside .accordion-button::before,
aside .accordion-button:not(.collapsed)::before{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23414141'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
footer .accordion-button::before,
footer .accordion-button:not(.collapsed)::before{
  display: none;
}
@import "../bootstrap/scss/bootstrap";
  /* Sidebar Nav */
  aside{
      overflow-x: hidden;
  }
  aside * input{
      background-color: transparent !important;
  }
.bannercarousel .carousel-body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: #FFF;
}
.bannercarousel .carousel-item{
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import "breadcrumb";
@import "sidebar";
@import "searchbar";
@import "resultscarousel";

.date div{
  color: #949494;
  font-weight: 700;
  text-transform: uppercase;
}
.time{
  font-size: 14px;
  color: #949494;
}
.links a img{
  width: 32px;
}

@import "calendercarousel";
@import "timeline";
@import "ecosystem";
.chartlabels{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.color1{
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #03A9F4;
  display: inline-block;
}
.color2{
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 5px;
  background: #0288D1;
  display: inline-block;
}
.color3{
  width: 12px;
  height: 12px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #414141;
  display: inline-block;
}
.chartlabels span{
  font-size: 12px;
  font-weight: 500;
}

@import "marketshare";


.result-list{
 a{
  color: #1A0DAB !important;
  display: inline-block;
  margin-top: 1rem;
 }
}