@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-sans-serif: 'Montserrat', sans-serif;
//colors
$theme-colors: (
  "primary": #03A9F4,
  "danger": #FF5630,
  "gray": #616161,
  "dark": #414141
);
$body-color:  #414141;

//variables
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 6,
  9: $spacer * 9,
  10: $spacer * 12
);
$font-weight-normal: 500;
$font-weight-bold: 600;
$navbar-light-color:#414141;
$accordion-padding-x:  3rem;
$accordion-button-active-color: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: none;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;

.form-control{
    border: 0 !important;
}
.form-control:focus{
    box-shadow: none !important;
}
@import "../bootstrap/scss/bootstrap";
  /* Sidebar Nav */
  aside{
      overflow-x: hidden;
  }
  aside * input{
      background-color: transparent !important;
  }
.carousel-body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: #FFF;
}
.carousel-item{
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@import "nano-expansion";
@import "sidebar";
@import "searchbar";
@import "scrollbar";